<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon" thread-count="2"  parallel="tests" configfailurepolicy="continue">
 <listeners>
        <listener class-name="com.tcs.rbc.appium.poc.automation.report.TestListener"/>
        <listener class-name="com.tcs.rbc.appium.poc.automation.report.AnnotationTransformer"/>
    </listeners>
  <test  name="Test1">
 <parameter name="browserName" value=""/>
 <parameter name="platform" value="ANDROID"/>
 <parameter name="udid" value="4550455830383098"/>
 <parameter name="deviceName" value="S9"/>
 <parameter name="appPackage" value="com.amazon.mShop.android.shopping"/>
 <parameter name="appActivity" value="com.amazon.mShop.home.HomeActivity"/>
 <parameter name="URL" value="http://127.0.0.1:4723/wd/hub"/>
    <classes>
      <class name="com.tcs.rbc.appium.poc.automation.testcases.AmazonShopByDepartmentTestCase"/>
    </classes>
  </test> 
  
  
  
  <!-- Test -->
  
</suite> <!-- Amazon -->
